[Unit]
Description=buzzer
After=multi-user.target

[Service]
User=root
Restart=always
Type=simple
ExecStart=/usr/bin/python3 -u /home/pi/buzzer.py 21

[Install]
WantedBy=multi-user.target

